*::after::before{
    box-sizing: border-box;
}

main{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    grid-column: 1/4;
    grid-row: 1/4;
}



.blanco{

    background-color: white;
    opacity: 50%;
    grid-column: 1/3;
    grid-row: 3/4;
}

.rojo{

    background-color:red ;
    opacity: 50%;
    grid-column: 3/4;
    grid-row: 1/2;
}