.oculto{
    display: none;
}

.Morado{
    color: antiquewhite;
    background-color: blueviolet;
}

.Turquesa {
    background-color: turquoise;
    color: whitesmoke;
}
.Amarillo{
background-color: yellow;
color: black;
}

