*::before::after{
    box-sizing: border-box;
}

:root{
    --violeta: #8937c3;
    --verde: #9bc009;
    --marron: #32170F;
    --crudito: #BE974C;
    --blanco: #F1F4EF;
}

body{
    font-family: "Calibri";
    margin: 0;
    background-color: var(--blanco);
    width: 100%;
}
header{
    height: 8vh;
    display: flex;
    padding-inline: 4rem;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #8937c3;
    background-image: url(pexels-karolina-grabowska-5993292.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}   

header img{
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;

}

li{
    list-style: none;
    color: var(--blanco);
    background-color: transparent;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: (5px, 5px, 5px, 5px);

    font-size: clamp(0.5rem, 1rem, 2rem);
    text-transform: uppercase;
    font-weight: 600;

}

li:hover{
    background-color: #F1F4EF;
    color: var(--violeta);
    border-radius: 5px;
}

.titulo{
    display: none;
}

ul{
    display: flex;
    gap: 2rem;
}

#callTo{

background-color: #BE974C;
color: black;

}

#callTo:hover{

background-color: #BE974C;
color: #F1F4EF;
}

