*::after::before{
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:200,regular,italic,500);

body{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}

img{
    width: 200px;
    border-radius: 50%;
}

header{
    width: 30%;
    background-color: #040b14;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#content{
    background-color: black;
    background-image: url(pexels.jpg);
    background-size: cover;
    background-blend-mode: luminosity;
    width: 70%;
    padding-left: 1rem;
}
h1{
    background-color: goldenrod;
    color: antiquewhite;
    padding-inline: 4rem;
    font-weight: 200;
}

li{
    color: antiquewhite;
    padding-right: 14rem;
}

ul{
    padding-block: 0.2rem;
    border: 3px antiquewhite dotted;
    color: antiquewhite;
    margin-bottom: 10rem;
}
h2{
    color: goldenrod;
    font-weight: 500;
}
h3{
    color: goldenrod;
    border-bottom: 3px goldenrod dotted;
    margin-right: 3rem;
}
p{
    color: antiquewhite;
}
#content>h1{
    text-align: center;
    margin-inline: 2rem;
}
span{
    color: goldenrod;
    font-weight: 300;
}