*,::after::before{

    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);

body{

    font-family: 'Gabarito', Arial, Helvetica, sans-serif;
}

fieldset{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: burlywood;
}

section{

display: flex;
align-items: flex-start;
flex-direction: column;
justify-content: flex-start;
background-color: cadetblue;

}

#divErrores{

    background-color: tomato;

}

section:nth-child(even){

    background-color: blue;
    color: beiges;
}


