@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body{
    font-family: "Open Sans";
    background-color: #1f1f1f;
    color: #ffffff;
    width: 100%;
    background-image: url(home-hero.png);
    background-repeat: none;
    background-position-x: right -400px;
    background-position-y: top -300px;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    padding-top: 1.5rem;
 
    height: 100vh;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;

}
img{
    width: 75%;
}
.container{
    width: 100vh;
    padding-inline: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;


}
h1{
    font-family: "Space Grotesk";
    font-size: 4rem;
    line-height: 4.5rem;
    margin:0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container >h2{
    text-align: left;
    margin:0;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
button{
    border: none;
    background-color: #ac99ea;
    color: #242424;
    font-family: "Open Sans";
    padding: 1rem;
    padding-inline: 1.8rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.7rem;
}
button:nth-child(2){
    border: 2px solid #ac99ea;
    background-color: #1f1f1f;
    color:#ac99ea;
}
.botonera{
    margin-bottom: 0;
    padding-bottom: 0;
    p{
        font-size: 0.8rem;
       padding-left: 2.5rem;
    }
}
.tarjetero{
    display: flex;
    flex-direction: row;
   

}

h2{
    margin-top:0;
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
    text-align: center;
}

.card{
    background-color: #292929;
    height: 38vh;
    width: 45vh;
    border-radius: 20px;
    border: 2px solid #ac99ea;
    margin-inline: 1rem;
    color:#ac99ea;
    h3,p,svg{
        padding-inline:1rem;
        margin:0
    }
    svg{
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
    h3, p{
        padding-bottom: 0.7rem;
        font-family: "Open Sans";
    }
    p{
        color: #ffffff;
        padding-bottom: 0;
        font-weight: 500;
        font-size: 1.1rem;
       
    }
    h3{
        font-weight: 500;
    }


}
.card:nth-child(2){
    color: #e767cb;
    border-color: #e767cb;
}
.card:nth-child(3){
    color: #7edae3;
    border-color: #7edae3;
}