@font-face {
  font-family: Quicksand;
  src: url(Quicksand-VariableFont_wght.ttf);
}

:root{
  --verde:  #00ff62;
  --white: white;
  --transparent: rgba(0,0,0,0.25);
}


pre{
  backdrop-filter: brightness(0.6);
  border-radius: 5px;
  padding: 1rem;
}

code{
  font-size: 0.95rem;
  color: #224;
}



body{
  max-width: 80ch;
  margin: 0 auto;
  padding: 2rem;
}



.card{
  background-image: url(woman2.jpg);
  background-position: center;
  background-size: cover;
  height:70vh;
  max-width:80vh;

  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.botones--arriba{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
}

.contenido{
  display: flex;
  flex-direction: column;

  padding: 1rem;
  background-color: var(--transparent);
  backdrop-filter: blur(5px);
  border-top-right-radius: 200px;
  border-top: 3px solid var(--white);
  border-right: 3px solid var(--white);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;


}

.card h2{
  font-family: Quicksand;
  color: var(--verde);
  font-weight: 500;
  margin-bottom: 0;
  font-size: 1.7rem;
}
p{
  color: var(--white);
  font-family: Quicksand;
  font-weight: 500;
}
li{
  list-style: none;
  font-family: Quicksand;
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
  color: var(--white);
  font-family: Quicksand;
  font-size: 1.5rem;
  margin-inline: 1rem

}

nav ul{
  display: flex;
  align-items: center;
  
}
nav .next{
 position: relative;
 left: 75%;

}

nav .next a{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: var(--verde);
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 1.1rem;
}

@media (width<700px) {

.card{
  background-image: url(woman.jpg);

}
nav .next{
  position: relative;
  left: 50%;
 
 }
 
}
