
table{

    color: var(--lightest);
    font-size: 47px;

}
th{
    padding-left: 1rem;
    font-size: 47px;
}
td{
    
    padding-inline: 1rem;
    font-size: 47px;
}

#divBody{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
    padding: 0;
    gap: 1rem;

}

.card{

    font-size: 50px;
}

fieldset>img{

    width: 200px;

}
