@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);

*::before::after {

    box-sizing: border-box;
}
:root {
    --darkest: #003535;
    --dark: #005555;
    --medium: #2C6D75;
    --light: #93A499;
    --lighter: #F69875;
    --lightest: #F9DBBD;
    --accent: #f2542d;
}

.gallery {
   
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
}

.photo {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin: 1rem;
    box-shadow: 0 0 10px var(--darkest);
    overflow: hidden;
}

.vertical {
    height: 370px;
    width: 370px;

}

.horizontal {
    height: 370px;
    width: 370px;

}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.photo:hover{

    transform: scale(1.5);
    transition: 1350ms ease;
    backdrop-filter: blur(10px);
    z-index: 1;
}



h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}




hr {

    color:var(--light);
    background-color: var(--light)
}
#divIntro{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.intro2{
    border-top: 1rem solid var(--darkest);
}



@media screen and (max-width: 750px) {




    #divBody {

        display: flex;
        flex-direction: column-reverse;
    }

    #divRedes>button {

        width: 60px;


    }

    .photo:hover{

        transform: none;
        transition:none;
    
    }
    
    }