@import url(https://fonts.googleapis.com/css?family=Antonio:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);

*,
::before::after {

    box-sizing: border-box;
}

:root {


    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {

    margin: 0;
    padding: 0;


}

.hero-image {

    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, rgba(0, 85, 85, 0.6), rgba(0, 250, 250, 0.6)), url("photo.jpeg");
    position: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-text{

    align-items: center;
    justify-content: center;
}

h1{
    padding-block: 2rem;
}

h1>a {
    color: #EBFFFF;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 4.75rem;
    font-weight: 600;
    transition: 300ms;
    text-decoration:  line-through;


}
h1>a:hover{
    text-decoration: none;
    cursor: pointer;
}

p{
    padding: 1rem;
}
p>a{
    color: #EBFFFF;
    text-transform: uppercase;
    padding-inline: 3rem;
    padding-block: 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 300ms;
    text-decoration: none;

}
a:visited{

    color: #EBFFFF;
    text-transform: uppercase;
    padding-inline: 3rem;
    padding-block: 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 300ms;
}

p>a:hover{
    text-decoration: line-through;
    cursor: pointer;
}

.boxy{

    border: 2px solid #EBFFFF;
    padding-inline: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.boxy:nth-child(2){

    border-top: none;
}

@media screen and (max-width: 650px) {

    h1>a{

        flex-wrap: wrap;
        font-size: 40px;

    }
    
    .hero-image {
    
        
    }
    
    .hero-text{

        grid-column: 2/3;
        grid-row: 2/4;
        
    }

    .boxy{
        padding: 1rem;
        padding-block: 0;
        margin: 0;
    }

    
    p>a{

        font-size: 18px;
        padding-inline: 0;
        padding-block: 0;
           

    }
    
    .boxy:nth-child(2){
    

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}