root{

    --darkestgreen: #003535;
    --darkergreen: #004D4D;
    --green-logo: #005555;
    --caribbean: #2C6D75;
    --airblue: #578494;
    --greyblue: #829BB4;
    --periwinkle: #ADB2D3;
    --lightperi: #B4B9D7;
    --lighterperi: #BBBFDB;
    --lightestperi: #C1C5DE;
    --lavender: #C7CAE1;
    --lightlavender: #CCCFE4;
    --beige: beige;
}
#divBody{

    margin: 1rem;
}

img{

    max-width: 400px;
    border-radius: 5px;


}

audio{

    background-color: var(--darkestgreen);
    color: #CCCFE4;
}

#divBody p{
    
    padding: 2rem;
    border-radius: 5px;
    background-color:var(--darkestgreen);
    color: beige;
    text-align: center;
    background-image: linear-gradient(90deg, #003535, #005555 80%);

}

div>div{

    display: flex;
    flex-direction: column;
}

label{

    margin: 10px;
    text-align: center;
    color: var(--darkestgreen);
    font-size: 26px;

}

audio{

    border-radius: 5px;
}

