
:root {
    --darkest: #003535;
    --dark: #005555;
    --medium: #2C6D75;
    --light: #93A499;
    --lighter: #F69875;
    --lightest: #F9DBBD;
    --accent: #f2542d;
}
#divBody{

    margin: 1rem;
}

img{

    max-width: 400px;
    border-radius: 5px;


}

audio{

    background-color: var(--darkest);
    color: #CCCFE4;
}

#divBody p{
    
    padding: 2rem;
    border-radius: 5px;
    background-color:var(--darkest);
    color: var(--lightest);
    text-align: center;
    background-image: linear-gradient(90deg, var(--darkest) , var(--dark) 80%);

}

div>div{

    display: flex;
    flex-direction: column;
}

label{

    margin: 10px;
    text-align: center;
    color: var(--darkest);
    font-size: 26px;

}

audio{

    width: 100%;
    color: var(--light);
    background-color: var(--darkest);
    border-radius: 5px;
}

#divIntro{
    display: flex;
    flex-direction: column;
    height: fit-content;

}