
@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);

*::before::after {

    box-sizing: border-box;
}

/*USAR EL GAP PARA HACER HUECOS ENTRE COSAS CON EL DISPLAY FLEX*/
/*USar el grid para hacer el modo phone y el modo pc para ordenar en vertical o horizonal, con un 1fr column y varias row para movil y varias column para pc y un rows*/
/*existe un background-image en css tiene propiedades como bckground size(cover), position o repeat y blend-mode(luminosity se ve afectado por el bckrgroundcolor)*/
/*pexels y tabler-icons
 /*Implementar esto en el proyecto*/
 /*background-clip: text;
 color: transparent;
 background-image: radial-gradient(red, tomato);*/
body {
    
    min-height: 100vh;
    max-width: fit-content;

    margin: 0;
    font-family: "Gabarito", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {

    padding-inline: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: grey;
    color: white;

}

footer {

    background-color: grey;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 0;
    


}

#divRedes {

    margin-top: auto;
    margin-bottom: 0;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    flex-direction: row;
    gap: 1rem;

}

#btnTwitter {

    border: none;
    background-color: grey;
    color: beige;
    border-radius: 7px;
    width: 3rem;
    height: 3rem;
}

#btnIg1 {

    border: none;
    background-color: grey;
    color: beige;
    border-radius: 7px;
    width: 3rem;
    height: 3rem;
}

#btnIg2 {

    border: none;
    background-color: grey;
    color: beige;
    border-radius: 7px;
    width: 3rem;
    height: 3rem;
}

#btnGithub {

    border: none;
    background-color: grey;
    color: beige;
    border-radius: 7px;
    width: 3rem;
    height: 3rem;
}

#btnLinkedin {

    border: none;
    background-color: grey;
    color: beige;
    border-radius: 7px;
    width: 3rem;
    height: 3rem;
}


a {

    text-decoration: none;

}

a:visited {
    color: beige;
}

a:hover {
    color: black
}



ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

li {
    gap: 1rem;
    padding-inline: 2rem;
    list-style-type: none;
}

li:hover {

    background-color: #79e4cc;
    color: black;
    border-radius: 10px;
    cursor: pointer;

}

#btnMode {

    background-color: none;
    color: beige;
    border-radius: 7px;
    border: none;
    background-color: grey;


}

button:hover {

    cursor: pointer;
}

body {

    background-image: linear-gradient(violet, purple, blue, aqua)
}

#divBody{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;


}

.card {
    padding-inline: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 1px green;
}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color: #04AA6D;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .js {width: 65%; background-color: #f44336;} /* Red */
  .php {width: 60%; background-color: #808080;} /* Dark Grey */