@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);

*::before::after {

    box-sizing: border-box;

}

:root {
    --darkest: #003535;
    --dark: #005555;
    --medium: #2C6D75;
    --light: #93A499;
    --lighter: #F69875;
    --lightest: #F9DBBD;
    --accent: #f2542d;
}

/* youtube - midulive*/
/*Poner formulario en algun sitio.*/
/*USAR EL GAP PARA HACER HUECOS ENTRE COSAS CON EL DISPLAY FLEX*/
/*USar el grid para hacer el modo phone y el modo pc para ordenar en vertical o horizonal, con un 1fr column y varias row para movil y varias column para pc y un rows*/
/*existe un background-image en css tiene propiedades como bckground size(cover), position o repeat y blend-mode(luminosity se ve afectado por el bckrgroundcolor)*/
/*pexels y tabler-icons
 /*Implementar esto en el proyecto*/
/*background-clip: text;
 color: transparent;
 background-image: radial-gradient(red, tomato);*/
/*mirar htmx-retos css y posible erradicacion de js SIUU*/
body {
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
    margin: 0;
    font-family: "Gabarito", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--lightest);
    position: relative;
   
}

#divIntro{

    height: fit-content;
    background: radial-gradient(circle, var(--lighter) 0%, var(--lightest) 50%);
    border-bottom: 1rem solid var(--darkheader);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

#divIntro>img{

    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: contain;
    z-index: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    position: absolute;
    top: 20px;
    left: 10%;
    border: 5px solid var(--dark);
 
}

#divIntro>p {

    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border: 1px solid var(--darkest);
    border-radius: 5px;
    font-weight: 500;
    padding: 2rem;
    text-align: center;
    color: var(--darkest);
    grid-column: 2/3;
    grid-row: 2/4;
    padding-top: 1rem;

}

#divIntro>h1 {

    margin-left: 25%;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, var(--darkest), var(--dark) 80%);
    grid-column: 2/3;
    grid-row: 1/4;

}

header {
    padding-block: 0.5rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--darkheader);
    color: var(--lightest);
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 1;

}

.navbar-container{
    background-color: var(--darkheader);
}

.navbar-container input {
    display: none;
}


footer {

    background-color: var(--darkheader);
    color: var(--lightest);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 0;



}

#divRedes {

    margin-top: auto;
    margin-bottom: 0;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    flex-direction: row;
    gap: 1rem;

}

button {

    background-color: var(--medium);
    color: var(--lightest);
    border: none;
    border-radius: 5px;
    width: 5rem;
    height: 3rem;

}

button:hover {
    background-color: var(--lighter);
    color: var(--darkest);
    cursor: pointer;
}



a {
    color: var(--lightest);
    text-decoration: none;

}

a:visited {
    color: var(--lightest);
}

a:hover {
    color: var(--darkest);
}



ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--darkheader);
}

li {
    gap: 1rem;
    padding-inline: 1rem;
    margin-inline: 1rem ;
    list-style-type: none;
}

li:hover {

    background-color: var(--lighter);
    color: var(--darkheader);
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms ease;

}

#btnMode {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--darkheader);
    color: var(--lightest);
    border-radius: 5px;
    border: none;


}

#btnMode:hover {

    background-color: var(--lighter);
    color: var(--darkest);
    border-radius: 50%;
    cursor: pointer;

}



#divIntro {

    padding-inline: 1rem;
    padding-bottom: 1rem;
}

#divBody {


    /* si quitas el display flex se ve ahora mismo es columna*/
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
}

.card {

    border-radius: 5px;
    height: 60ch;
    box-shadow: 0 0 10px 1px var(--darkest);
    min-height: 100px;
    width: 40ch;
    padding-inline: 2rem;
    padding: 0.5rem;
    margin: auto;
    background-color: var(--medium);
    opacity: 0.5;
    transition: opacity 1350ms ease, transform 1250ms ease-in;
    position: relative;
}

.card:hover {
    color: var(--lightest);
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 450ms ease, transform 450ms ease-in;
}


hr {

    color: var(--medium);
    background-color: var(--medium);

}

h1,
h3,
p {
    text-align: center;
}


.card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    z-index: -1;
    clip-path: circle(0% at 0% 0%);
    transition: clip-path 500ms ease;

}

.card:nth-child(2)::before {
    clip-path: circle(0% at 50% 50%);
}

.card:nth-child(3)::before {
    clip-path: circle(0% at 100% 100%);
}

.card:hover::before {
    clip-path: circle(100%);
    background-color: var(--darkest);

}

.container {
    width: 100%;
    background-color: var(--darkest);
}

.skills {

    padding-block: 10px;
    color: var(--lighter);
}

.html {
    width: 90%;
    background-color: var(--medium);
}

.js {
    width: 30%;
    background-color: var(--medium);
}

.java {
    width: 80%;
    background-color: var(--medium);
}

.pt {
    width: 65%;
    background-color: var(--medium);
}

.edius {
    width: 50%;
    background-color: var(--medium);
}


input {
    background-color: var(--darkest);
    width: 20ch;
    height: 1.2rem;
    color: var(--lightest);
    font-family: "Gabarito", Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

input:focus {
    outline: none !important;
}




fieldset {

    color: var(--darkest);

    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--darkest);
    margin: 1rem;
}

fieldset>button {

    margin-top: 1rem;
    background-color: var(--dark);
    width: 150px;
    height: 2rem;
    color: var(--lightest);
    font-family: "Gabarito", Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    border-radius: 5px;
    position: relative;
    top: -8px;
}

fieldset>button:hover {

border: 2px solid var(--dark);
transform: scale(1.5rem);

}



@media screen and (max-width: 750px) {

    body {

        display: flex;
        flex-direction: column;

    }

    ul {
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }

    li {
        gap: 1rem;
        padding-inline: 3rem;
        list-style-type: none;
    }


    #btnMode {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        background-color: var(--darkest);
        color: var(--beige);
        border-radius: 5px;
        border: none;


    }



    #divBody {

        display: flex;
        flex-direction: column-reverse;
    }

    .card {
        background-image: linear-gradient(90deg, var(--darkest),var(--dark) 80%);
        color: var(--beige);
        opacity: 1;
        margin-block: 1rem;

    }


    fieldset {


        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        padding-inline: 0;

    }

    input {

        width: 250px;

    }

    #divRedes>button {

        width: 60px;


    }


    /*menu burger*/
    .navbar {
        opacity: 0.9;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20%;
        left: 40%;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 20%;
        left: 40%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 5px;
        background: var(--lighter);
    }

    .navbar .menu-items {
        position: relative;
        top: 65px;
        border-radius: 5px;
        padding-top: 1rem;
        background: var(--darkest);
        height: 30vh;
        max-width: 150px;
        transform: translateX(-175%);
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
        transition: transform 0.5s ease-in-out;
        box-shadow: 0px 0px 5px 0px var(--lighter);
        z-index: 2;
    }


    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(-150px);
    }

    #divUser {
        display: none;
    }

    #divBody>img {

        max-width: 350px;

    }
    fieldset>button {

        position: block;
        
    }
    

    #divIntro{

        height: fit-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    #divIntro>h1{
        margin-top: 1rem;
        margin-bottom: 0;
        margin-left: 0;
        z-index: 0;
    }

    #divIntro>p{
        margin-top: 1rem;
        margin-bottom: 0;
    }
    
    #divIntro>img{

        height: 100px;
        position: relative;
        z-index: 0;
        margin: 1rem;
        left: 0px;
        top: 0px;
        border: 5px solid var(--medium);
     
    }
    









}