@import url(https://fonts.googleapis.com/css?family=Salsa:regular);

*::after::before{

box-sizing: border-box;

}

:root{

    --color5: #fb8500;
    --color4: #ffb703;
    --color3: #023047;
    --color2: #219ebc;
    --color1: #8ecae6;
    --whitish: #f2e9e4;
    --blackish: #000044;




}
body{
    margin: 0;
    font-family:"Salsa", Arial, Helvetica, sans-serif;
}

header{
 
    height: 80vh;
    padding-top: 25vh;
    background-image: url(img/pexels-thiago-japyassu-1069798.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    padding-block: 1rem;
    height: 20rem;
    border-radius: 50%;

}
h1{
    color: var(--color4);
    margin: 0;
    text-transform: uppercase;

}
h2{
    margin: 0;
    color: var(--color1);

}

span{
    color: var(--color5);
}

.content{
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

}

.textos{
    width: 60vh;
}

svg{
    color:var(--color1);
    border: 2px solid var(--color2);
    border-radius: 50%;
}

svg:hover{
    color: var(--color5);
}

p{
    color: var(--whitish);
}